<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Madge.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <applicationSettings>
        <Madge.Properties.Settings>
            <setting name="WinSCP_HostName_FieldID" serializeAs="String">
                <value>00050438</value>
            </setting>
            <setting name="WinSCP_Username_FieldID" serializeAs="String">
                <value>00070564</value>
            </setting>
            <setting name="WinSCP_AdvancedButton_FieldID" serializeAs="String">
                <value>0006043E</value>
            </setting>
        </Madge.Properties.Settings>
    </applicationSettings>
</configuration>